@import 'variables';


.h4 {
    color: $backgroundcl;
    font-weight: bold;
}

.well {
    color: #000;
}

.padding-top{
    margin-top: 20px;
}

.booking-form {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    margin-top: -21px;
    width: 98%;
    margin-bottom: 20px;
}
