@import 'variables';
*{
	border-radius: 2px;
}
h1{
	font-family: $Hfont;
	font-size: 5em;
	color: $maincl;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}
p ,ul, .reasons{
	font-family: $Pfont;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
	text-shadow: 1px 1px 0px rgb(68, 68, 68);
	color:#fff;
} //doesn't look nice 

section {
	margin: 150px 0;
}

/*NAVBAR*/
#logo {
	height: 100%;
}
#nav {
	background-color: transparent ;
	border: none;/*
	border-bottom: 5px solid black ;
	border-image-source: url(../../img/borders/border2.png);
	border-image-slice: 15 1;
 	border-image-repeat: round;*/
  	padding: 1vw ;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 4px 15px;
}

.navbar-header :hover{
	color: $maincl !important ;
	

}
#links a{
	color: $maincl;	
}

.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-toggle {
	background-color: transparent; /* Changes regular toggle color */
	border-color: white; /* Changes toggle icon border color */
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: $maincl ;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: $buttoncl ;
}


.active a {
	background-color: $buttoncl !important;
	
	// border-radius: 8px;
}
strong{
	font-size: 1.5em;
}

// hero section 
.hero-image {
    height: 50%;
     
  background-image: -webkit-linear-gradient(145deg, transparent 50%, $maincl 50%); 
	padding: 50px 0px;
	margin-top: 0;
	border: 15px solid $maincl; 
}

.building {
	width: 100%;
	height: auto;
}
.hero-text {
	text-align: center;
	color: $backgroundcl;
}
// about us section
#about{
	color: $maincl ;
	padding: 1vw;
}
.sectionImg{
	
	
	padding: 1vw;
}
.sectionImg img{
	
	width:100% ;
	// border-radius:5px;
}

.reasons i {
	font-size: 2em;
	padding: 20px 0;
}
//contact 
.form-group{
	img{
		width:100%;
	}
}
// footer
footer{
	background: linear-gradient( rgba(0, 50, 177,0.8), rgba(0, 50, 177, 0.8)); // nice one
	box-shadow:10px 10px 5px red ;
}
// tests 
body{
		background: linear-gradient( rgba(0, 50, 177,0.8), rgba(0, 50, 177, 0.8)),url(../../img/bp/blueprint-9.png); // nice one

	background-color:$backgroundcl;
	// background-image: url(../../img/bp/blueprint-9.png);
}