#nav {
	background-color: transparent ;
	border: none;
	border-bottom: 1px solid black ;
	// border-image-source: url(../../BlueprintText0.jpg);
 //  	border-image-slice: 10 10;
 //  	border-image-repeat: round;
  	padding: 1vw ;
}
.navbar-header :hover{
	color: #ffffff !important ;
	

}
#links a{
	color: #ffffff;	
}

.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-toggle {
	background-color: transparent; /* Changes regular toggle color */
	border-color: white; /* Changes toggle icon border color */
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ffffff ;
}
.active a {
	background: black !important;
	color: black ; 
	border-radius: 8px;
}
strong{
	font-size: 1.5em;
}
// tests 
body{
	background-color: lightblue;
}