* {
  border-radius: 2px;
}

@media (max-width: 768px) {
  .h1 {
    display: none;
  }
  #whatimg {
    display: none;
  }
}

h1, h4, .h1 {
  font-family: "Delius", cursive;
  font-size: 5em;
  color: #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

h1 small {
  color: #edeff2 !important;
  font-size: 0.5em !important;
}

p, ul, .reasons, hr, .collapse {
  font-family: Nunito, sans-serif;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  text-shadow: 1px 1px 0px #444444;
  color: #fff;
  mix-blend-mode: difference;
}

section {
  margin: 150px 0;
  display: flex;
  align-items: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/*NAVBAR*/
#logo {
  height: 100%;
}

#nav, #navblog {
  background-color: transparent;
  border: none;
  /*
	border-bottom: 5px solid black ;
	border-image-source: url(../../img/borders/border2.png);
	border-image-slice: 15 1;
 	border-image-repeat: round;*/
  padding: 1vw;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 4px 15px;
}

.navbar-header :hover {
  color: #ffffff !important;
}

#links a {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  background-color: transparent;
  /* Changes regular toggle color */
  border-color: white;
  /* Changes toggle icon border color */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #b1001a;
}

.active a {
  background-color: #b1001a !important;
}

strong {
  font-size: 1.5em;
}

.hero-image {
  height: 50%;
  background-image: -webkit-linear-gradient(145deg, transparent 50%, #ffffff 50%);
  padding: 50px 0px;
  margin-top: 0;
  border: 15px solid #ffffff;
}

.building {
  width: 100%;
  height: auto;
}

.hero-text {
  text-align: center;
  color: #0032b1;
}

#whatimg {
  width: 100%;
}

#about {
  color: #ffffff;
  padding: 1vw;
}

.sectionImg {
  padding: 1vw;
}

.sectionImg img {
  width: 100%;
}

.reasons i {
  font-size: 2em;
  padding: 20px 0;
}

#contact {
  color: #ffffff;
  background-image: -webkit-linear-gradient(33deg, transparent 53%, #ffffff 53%);
  border: 15px solid #ffffff;
  position: relative;
}

#submit {
  margin-top: 1.5em;
  outline: none;
  background-color: lightgrey;
}

.h1 {
  transform: rotate(-90deg);
  position: absolute;
  bottom: 130px;
  right: -200px;
}

#address-block {
  margin-right: 20px;
}

.fab {
  padding: 5px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 8px 10px;
}

#git {
  color: #2D4761;
}

#fb {
  color: #3B5998;
}

#google {
  color: #dd4b39;
}

#twitter {
  color: #55ACEE;
}

#insta {
  color: #E94158;
}

.fab:hover {
  text-shadow: 2px 2px 5px lightgrey;
}

footer {
  background-color: #1c2339;
  color: #ffffff;
  text-align: center;
}

footer p {
  mix-blend-mode: normal;
}

footer img {
  width: 50%;
}

footer .img-small {
  width: 20%;
}

.flexy {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.post {
  height: 555px;
  margin: 60px 60px 80px 60px;
}

.card {
  background-color: #ffffff;
  padding: 2px;
  margin-bottom: 2vw;
}

.card img {
  width: 100%;
}

.card-body {
  text-shadow: none;
  background-color: #ffffff;
  padding: 10px;
  border-top: 1px solid darkgrey;
}

.card-text, .collapse {
  text-shadow: none;
}

.card.my-4 {
  background-color: #f7f7f7;
  border: 0px;
}

.card-footer {
  color: #6c757d;
  background-color: lightgrey;
}

#navblog {
  border-bottom: 10px solid white;
  border-image-source: url(../../img/borders/border2.png);
  border-image-slice: 20 22;
  border-image-repeat: round;
  margin-bottom: 3vw;
}

li a {
  color: #ffffff;
}

li a:hover {
  text-shadow: 2px 2px 5px green;
  color: #ffffff;
}

body {
  background: linear-gradient(rgba(0, 50, 177, 0.8), rgba(0, 50, 177, 0.8)), url(../../img/bp/blueprint-9.png);
  overflow-x: hidden;
  background-color: #0032b1;
}
/*# sourceMappingURL=style.css.map */